<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Recipe</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/recipe1">Green Curry</a></li>
            <li><a href="/recipe2">Grilled Cheese</a></li>
        </ul>
    </div>
</nav>


<div class="gallery" id="gallery">
    <div class="mb-3 pics animation all 2" >

        <a href="/recipe1"><img class="img-fluid" src="greencurry.jpg" alt="Greencurry" ></a>
    </div>
    
    <div class="mb-3 pics animation all 1">

        <a href="/recipe2"><img  class="img-fluid" src="grilledcheese.jpg" alt="Card image cap"></a>
    </div>
  
    <div  class="mb-3 pics animation all 1">
        <img class="img-fluid" src="frenchtoast.jpg" alt="Card image cap">
    </div>
    
    <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="citrus.jpg" alt="Card image cap">
    </div>
   
    <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="adv.jpg" alt="Card image cap">
    </div>
   
    <div class="mb-3 pics animation all 1">
        <img class="img-fluid" src="pizza.jpg" alt="Card image cap">
    </div>


</div>
<!-- Grid row -->


</body>
</html>